 .hero {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     height: 100vh;
     width: 100%;
 }

 .adminTab {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 25%;
     height: 100vh;
     background-color: rgb(220, 220, 220);
     flex-direction: column;
 }

 .adminTab h3 {
     margin-bottom: 50px;
     color: orange;
     font-size: 30px;
     margin-top: 5px;
 }

 li {
     outline: 0;
     padding: 30px;
     cursor: pointer
 }

 ul li a {
     color: black;
     outline: 0;
     padding: 10px;
     font-size: 25px;
     transition: 0.3s;

 }

 ul li a:hover {
     font-size: 28px;
     color: aliceblue;
     transition: 0.3s;
 }

 ul li a.activeTab {
     font-weight: bold;
     color: white;
     font-size: 28px;
 }

 .adminTab button {
     cursor: pointer;
     margin-top: 60px;
     height: 40px;
     width: 200px;
     border-radius: 15px;
     border: 0;
     font-size: 20px;
     font-weight: bold;
     color: white;
     background-color: orange;
     margin-bottom: 60px;
     outline: 0;
     box-shadow: 2px 3px 1px rgb(255, 90, 30);
 }

 /* THE RIGHT SIDE OF THE DIVIDEND WHERE INFORMATION CONCERNING THE SELECTED TAB IS DISPLAYED */

 .tabInfo {
     justify-content: center;
     align-items: center;
     padding: 50px;
     width: 80%;
     height: 100vh;
     background-color: white;
     box-shadow: 1px 1px 1px grey;
     overflow: hidden;
     overflow-y: scroll;
     flex-direction: column;
 }

 ::-webkit-scrollbar {
     width: 0;
 }

 .firstRow {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     padding: 10px;
     margin-bottom: 30px;
 }

 .fr {
     justify-content: center;
     align-items: center;
     display: flex;
     text-align: center;
     border-radius: 10px;
     margin: 30px;
     height: 70px;
     width: 25%;
     background-color: white;
     box-shadow: 5px 1px 8px grey;
 }

 /* the start of the second row of the tabInfo */
 .secondRow {
     /* display: flex; */
     border-radius: 5px;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 30px;
     height: 150px;
     width: 100%;
     box-shadow: 5px 5px 1px grey;
     background-image: repeating-radial-gradient(farthest-corner at 40px 20px, white 30%, aquamarine 40%);
 }

 .banner {
     display: flex;
     flex-direction: row;
     font-size: 70px;
     font-weight: bolder;
     justify-content: center;
     align-items: center;
     height: 100%;
 }

 /* the third row of the tabInfo */

 .thirdRow {
     display: flex;
     flex-direction: column;
     text-align: left;
     width: 100%;
     margin-top: 100px;

 }

 .orderTrackerTab {
     display: flex;
     flex-direction: row;
     gap: 60px;
 }

 .thirdRow h3 {
     font-weight: 600;
 }

 .trTabs {
     padding: 10px;
     width: 200px;
     text-align: center;
     border-radius: 5px;
     margin-top: 20px;
     background-color: white;
     box-shadow: 5px 1px 8px grey;
 }

 .trTabs span {
     text-align: center;
 }

 .trTabs h1 {
     font-size: 60px;
     margin-bottom: 10px;
     margin-top: 13px;
 }

 /* START OF THE FOURTH ROW/LINE OF THE INFORTAB */
 .fourthRow {
     display: flex;
     flex-direction: column;
     margin-top: 100px;
     width: 100%;
     text-align: left;
 }

 .fourthRow h3 {
     font-weight: 600;
 }

 .topProductsTab {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     gap: 20px;
     margin-top: 15px;
 }

 .frtTabs {
     background-color: white;
     box-shadow: 5px 1px 8px grey;
     width: 250px;
     height: 100px;
     text-align: left;
     border-radius: 5px;
     transition: 0.3s;
 }

 .frtTabs:hover {
     width: 260px;
     height: 105px;
     transition: ease-in-out 0.3s;
 }

 /* FITH ROW */
 .fifthRow {
     align-items: center;
     text-align: left;
     margin-top: 80px;
 }

 .fifthRow h3 {
     font-weight: 600;
     margin-bottom: 20px;
 }

 .recentSalesTab {
     gap: 10px;
 }

 .fifthTabs {
     background-color: white;
     width: 100%;
     height: 100px;
     text-align: left;
     flex-direction: row;
     transition: 0.3s;
     border-radius: 20px;
     margin-top: 15px;
     box-shadow: 1px 1px 4px grey;
 }

 .fifthTabs:hover {
     height: 110px;
     width: 102%;
     margin-bottom: 10px;
     transition: ease-in-out 0.3s;
 }