.hero {
    top: 50px;
    left: 130px;
    width: 85%;
    height: 100%;
    position: relative;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

/* FIRSTTTTTTTTTT BOARDDDDDDDDDDDDDDD */
.innerBoard {
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    padding-left: 10px;
    width: 25%;
}

.innerBoard h1 {
    font-size: 30px;
    letter-spacing: 3px;
    color: orange;
}

.logoImage {
    width: 150px;
    height: 250px;
    padding-bottom: 20px;
}

.innerBoard ul li {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.innerBoard li a {
    font-size: 20px;
    font-weight: bold;
    color: grey;
    padding: 10px;
    /* background-color: aquamarine; */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.innerBoard ul li a:hover {
    font-size: 20px;
    color: orange;
}

.innerBoard li a.activeTextTab {
    color: black;
    font-size: 25px;
}

.iconPad {
    justify-content: space-between;
}

.downloadButton {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(0, 74, 114);
    box-shadow: 2px 2px 1px grey;
    margin-top: 100px;
    margin-left: 40px;
}